.Add{
    /* background-color: rgb(214, 50, 50); */
    height: 10vh;
    margin-top: 15vh;

}

.addImg{
    /* padding: 15px; */
    /* background-color: black; */
    width: 8vw;
    object-fit: contain;
}